doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="keywords", content="Adranos, Rocket, Propellant, Fuel, Solid, Engineering")
    meta(name="description", content="Adranos Energetics LLC develops propellants, explosives, and other energetic materials for use in space and military platforms. Adranos is currently developing a cost-effective solid rocket propellant that is more efficient, more powerful, and better for the environment than traditional solid rocket propellants.")
    meta(name="author", content="Mark Holmes")
    title Adranos Energetics | Next Generation Solid Rocket Propellant
    if local === false
      link(rel='apple-touch-icon', sizes='57x57', href='[[apple-icon-57x57#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='60x60', href='[[apple-icon-60x60#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='72x72', href='[[apple-icon-72x72#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='76x76', href='[[apple-icon-76x76#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='114x114', href='[[apple-icon-114x114#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='120x120', href='[[apple-icon-120x120#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='144x144', href='[[apple-icon-144x144#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='152x152', href='[[apple-icon-152x152#{hash}.png]]')
      link(rel='apple-touch-icon', sizes='180x180', href='[[apple-icon-180x180#{hash}.png]]')
      link(rel='icon', type='image/png', sizes='192x192', href='[[android-icon-192x192#{hash}.png]]')
      link(rel='icon', type='image/png', sizes='32x32', href='[[favicon-32x32#{hash}.png]]')
      link(rel='icon', type='image/png', sizes='96x96', href='[[favicon-96x96#{hash}.png]]')
      link(rel='icon', type='image/png', sizes='16x16', href='[[favicon-16x16#{hash}.png]]')
      meta(name='msapplication-TileColor', content='#FFFFFF')
      meta(name='msapplication-TileImage', content='[[ms-icon-144x144#{hash}.png]]')
      link(rel='stylesheet', href="[[main#{hash}.css]]", type="text/css")
  body
    div#app
    script(src="[[main#{hash}.js]]", type="text/javascript")
